h1 Home#index

= link_to 'Students', students_path, class: "btn btn-primary"
= link_to 'Courses', courses_path, class: "btn btn-primary"
= link_to 'Classrooms', classrooms_path, class: "btn btn-primary"
